<div class="flex items-center mr-2 mt-4">
  <img height="28" class="h-8 flex-none" src={@stat.img} alt={@stat.title} />
  <%= for tag <- @stat.tags do %>
    <span class="ml-1 h-full rounded-md badge badge-neutral badge-outline"><%= tag.name %></span>
  <% end %>
</div>
